{% extends 'base.html' %}

{% block title %}Confirm Delete Progress{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Confirm Delete Progress</h1>
    <p>Are you sure you want to delete the progress for user "{{ user.username }}" in the course "{{ course.course_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'course:course_detail' course.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
