{% extends 'base.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Course List</h2>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'course:course_add' %}" class="btn btn-primary">Add New Course</a>
        <form method="GET" action="{% url 'course:course_list' %}" class="form-inline">
            <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control mr-sm-2" placeholder="Search course...">
            <select name="created_by" class="form-control mr-sm-2">
                <option value="">Select Created by</option>
                {% for creator in created_by_list %}
                    <option value="{{ creator }}" {% if creator == selected_creator %}selected{% endif %}>{{ creator }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_description }}</td>
                <td>{{ course.created_by }}</td>
                <td>{{ course.created_at|date:"Y-m-d H:i" }}</td>
                <td>{{ course.updated_at|date:"Y-m-d H:i" }}</td>
                <td>
                    <a href="{% url 'course:course_detail' course.pk %}" class="btn btn-info btn-sm">Course Progress</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not_found %}
    <p>No courses found matching the search criteria.</p>
    {% endif %}
    <div class="d-flex justify-content-start mb-3">
        
        {% if query or selected_creator %}
            <a href="{% url 'course:course_list' %}" class="btn btn-secondary mb-3 d-inline-block ml-3">Back to Course List</a>
        {% endif %}
    </div>
</div>
{% endblock %}
