{% extends 'base.html' %}

{% block title %}Update Progress{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Update Progress for Course: {{ course.course_name }}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="user">User</label>
            <input type="text" name="user" id="user" class="form-control" value="{{ user }}" readonly>
        </div>
        <div class="form-group">
            <label for="progress_percentage">Progress (%)</label>
            <input type="number" name="progress_percentage" id="progress_percentage" class="form-control" step="0.01" min="0" max="100" value="{{ progress.progress_percentage|default:"0" }}">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <a href="{% url 'course:course_detail' course.pk %}" class="btn btn-secondary mt-3">Back to Course Detail</a>
</div>
{% endblock %}
